<footer class="footer">
    <div class="container">
        <div class="top">
            <a href="/" class="logo">
                <img src="../img/white-logo.svg" alt="">                   
            </a>
            <nav>
                <ul>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Этапы работы</a></li>
                    <li><a href="#">Вопрос/ответ</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <a href="tel:+78002343455" class="phone">8-800-234-34-55</a>
        </div>
        <div class="bottom">
            <div class="info">
                <p class="copyr">© 2023 КубаньДезГрупп. Все&nbsp;права&nbsp;защищены.</p>
                <a href="#" class="politic">Политика конфиденциальности</a>
            </div>
            <button class="white-btn popup-btn">Заказать услугу</button>
        </div>
    </div>
</footer>