<header class="header">
    <div class="banner-container">
        <a href="/">
            <img src="../img/logo.png" alt="" class="logo">
        </a>
        <nav class="nav">
            <ul>
                <li><a href="#" class="nav__link">Услуги</a></li>
                <li><a href="#" class="nav__link">О нас</a></li>
                <li><a href="#" class="nav__link">Этапы работы</a></li>
                <li><a href="#" class="nav__link">Этапы работы</a></li>
                <li><a href="#" class="nav__link">Контакты</a></li>
            </ul>
        </nav>
        <a href="tel+788002343455" class="phone">8-800-234-34-55</a>
    </div>
</header>