@font-face {
    font-family: 'Arial Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Regular'), url('ARIAL.woff') format('woff');
}

@font-face {
    font-family: 'Arial Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Bold'), url('ARIALBD 1.woff') format('woff');
}


@font-face {
    font-family: 'Arial Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Arial Bold'), url('ARIALBD.woff') format('woff');
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type=submit] {
    display: inline-block;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

$white: #FFFFFF;
$black: #2B2B2B;
$gray: #919191;
$orange: #FF8C00;
$light-orange: #FFA816;

h1{
    font-size: 4rem;
    font-family: 'Arial Bold';
    font-weight: 700;
    line-height: 4.5rem;
}
h2{
    font-family: 'Arial Bold';
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.9975rem;
    color: $black;
    @media (max-width: 500px) {
        font-size: 20px;
        line-height: 15px;
    }
}
p, li, a, span, button, label, input, textarea{
    font-family: 'Arial';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    @media (max-width: 500px) {
        line-height: 15px;
        font-size: 12px;
    }
}
.container,
.banner-container{
    max-width: 75rem;
    margin: 0 auto;
}
.container{
    padding: 6rem 1rem;
}

html{
    font-size: 0.875021vw;
}
@media (max-width: 1024px) {
    html{
        font-size: 1.1764705882vw;
    }
}
@media (max-width: 500px) {
    html{
        font-size: 2.66666666vw;
    }
}

@mixin btn{
    padding: 1rem 1.5rem;
    border-radius: 0.625rem;
    font-size: 1.125rem;
    font-style: normal;
    font-family: 'Arial Bold';
    font-weight: 700;
    line-height: 1.5rem;
    text-align: center;
    @media (max-width: 500px) {
        padding: 10px 15px;
        border-radius: 6px;
        font-size: 12px;
    }
}

.white-btn{
    @include btn;
    background: $white;
    color: $orange;
    transition: .25s;
    &:hover{
        outline: 1px solid $white;
        background: none;
        color: $white;
    }
}
.orange-btn{
    @include btn;
    background: $orange;
    color: $white;
    transition: .25s;
    width: 20rem;

    &:hover{
        outline: 1px solid $orange;
        background: none;
        color: $orange;
    }
}

.header{
    padding: 1.13rem 0;
    .banner-container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 500px) {
            padding: 0 20px;
        }

        a img{
            max-width: unset;
            width: 6.875rem;
            height: 3.9375rem;
        }
        .nav ul{
            display:flex;
            align-items: center;
            gap: 2rem;

            @media (max-width: 500px) {
                display: none;
            }

            .nav__link{
                color: $black;
                transition: .25s;
                &:hover{
                    color: $orange;
                }
            }
        }
    }
    .phone{
        color: $black;
        transition: .25s;
        &:hover{
            color: $orange;
        }
    }
}

.banner{
    background: linear-gradient(113deg, #FEC02A 0.55%, #FF8D00 100%);
    position: relative;
    overflow: hidden;
    .banner-container{
        padding: 6rem 0 16.25rem 0;
        @media (max-width: 500px) {
            padding: 6rem 20px 16.25rem 20px;
        }
        .banner__content{
            width: 52.87rem;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            @media (max-width: 500px) {
                width: 100%;
            }

            h1, li{
                color: $white;
                @media (max-width: 500px) {
                    line-height: 4rem;
                }
            }
            ol{
                width: 75%;
                padding-left: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                @media (max-width: 500px) {
                    width: 100%;
                    gap: 2rem;
                }
            }
            .banner__btn{
                width: fit-content;
                
            }
        }
    }
    &__img{
        position: absolute;
        bottom: -6rem;
        right: 11rem;
        width: auto;
        height: 50rem;
        @media (max-width: 500px) {
            display: none;
        }
    }
    &__marquee{
        position: absolute;
        padding: 1.2rem;
        width: 110%;
        background: $white;
        transform: rotate(-2deg) translateX(-5%);
        left: 0;
        bottom: 8rem;
        
        .marquee__container{
            display: flex;
            flex-direction: row;
            gap: 2rem;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 32s linear infinite;
            p{
                color: $light-orange;
                line-height: 1.9375rem;
                font-size: 1.125rem;
                position: relative;
                &::before{
                    position: absolute;
                    content: '';
                    width: 0.3rem;
                    height: 0.3rem;
                    top: 50%;
                    transform: translateY(-50%);
                    left: -1rem;
                    background: $light-orange;
                    border-radius: 50%;
                }
            }
        }
    }
}
@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
.step{
    position: absolute;
    top: -13rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    @media (max-width: 500px) {
        position: relative;
        transform: translateX(0);
        top: 0;
        left: 0;
    }
    .banner-container{
        display: flex;
        gap: 4rem;
        padding: 3rem;
        background: $white;
        border-radius: 1.5rem;
        border: 1px solid rgba(43, 43, 43, 0.20);

        @media (max-width: 500px) {
            flex-wrap: wrap;
            border: none;
        }

        .step__element{
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            position: relative;
            width: 20%;
            @media (max-width: 500px) {
                width: 100%;
            }

            &::after{
                position: absolute;
                content: '';
                top: 0;
                right: -2rem;
                width: 1px;
                background: #D5D5D5;
                height: 100%;
                @media (max-width: 500px) {
                    top: 110%;
                    right: 0;
                    width: 100%;
                    height: 1px;
                }
            }
            &:last-child{
                &::after{
                    display: none;
                }
            }
            .step__number{
                font-size: 2.5rem;
                line-height: 2.75rem;
                font-family: 'Arial Bold';
                color: $orange;
            }
            .step__text{
                color: $black;
                font-weight: 400;
                line-height: 1.5rem;
                font-size: 1rem;

                @media (max-width: 501px) {
                    line-height: 15px;
                    font-size: 12px;
                }
            }
        }
    }
}
.sale{
    margin-top: 6rem;
    position: relative;

    &__banner{
        padding: 4rem;
        border-radius: 1.5rem;
        background: #F7F7F7;
        position: relative;
        overflow: hidden;

        &-info{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 60%;
            @media (max-width: 500px) {
                width: 100%;
            }

            ul{
                display: flex;
                flex-direction: row;
                @media (max-width: 500px) {
                    flex-direction: column;
                }
                
                li{
                    position: relative;
                    margin-left: 2rem;
                    &::after{
                        position: absolute;
                        content: '';
                        top: 50%;
                        transform: translateY(-50%);
                        left: -1rem;
                        width: 0.2rem;
                        height: 0.2rem;
                        background: $black;
                        border-radius: 50%;
                    }
                }
            }
            @media (max-width: 500px) {
                .orange-btn{
                    width: 100%;
                }
            }
        }
        &-img{
            position: absolute;
            right: 2.5rem;
            bottom: -2rem;
            transform: translateY(100%);
            transition: 1s cubic-bezier(.56,.92,.65,1.3);
            max-width: unset;
            width: 28.37381rem;
            height: 26.18206rem;
        }
        
    }
    @media (max-width: 500px) {
        img{
            display: none;
        } 
    }
    &__banner.load img{
        transform: translateY(0);
    }
}
.services{
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.25rem;

        @media (max-width: 500px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        opacity: 0;
        transform: translateY(-10%);
        transition: 1.25s ;

        .card{
            height: 20rem;
            width: calc(50% - 0.8rem);
            border-radius: 1.5rem;
            border: 1px solid #FFF;
            background: #F7F7F7;
            display: flex;
            gap: 2.9rem;
            padding: 2.5rem;
            animation: showCardAnim .25s ease-in-out var(--cadrAnimDelay);
            @media (max-width: 500px) {
                width: 100%;
                height: auto;
                flex-direction: column;
            }

            &__img{
                @media (max-width: 500px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                img{
                    width: 7.67675rem;
                    height: 8.45713rem;
                    @media (max-width: 500px) {
                        width: 70px;
                        height: auto;
                    }
                }
            }
            .info{
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .top{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    .title{
                        color: $black;
                        font-size: 1.5rem;
                        font-weight: 700;
                        line-height: 2.75rem;
                        @media (max-width: 500px) {
                            line-height: 20px;
                            font-size: 15px;
                        }
                    }
                    .text{
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.5rem;
                        opacity: 0.5;
                        @media (max-width: 500px) {
                            line-height: 15px;
                            font-size: 10px;
                        }
                    }
                }
                .bottom{
                    display: flex;
                    flex-direction: column;
                    gap: 1.25rem;
                    .orange-btn {
                        width: 100%;
                    }
                }
            }
        }
    }
    .load{
        transform: translateY(0);
        opacity: 1;
    }
}
.about{
    .top{
        display: flex;
        align-items: center;
        gap: 7.88rem;
        margin-bottom: 4.5rem;

        @media (max-width: 500px) {
            flex-direction: column;
        }

        > img{
            width: 36.75rem;
            height: 40rem;
            @media (max-width: 500px) {
                width: 100%;
                height: auto;
            }
        }
        .info{
            h2{
                margin-bottom: 1rem;
            }
            p{
                margin-bottom: 0.5rem;
                font-size: 1.25rem;
                line-height: 2rem;
                color: $black;
                @media (max-width: 500px) {
                    font-size: 12px;
                    line-height: 20px;
                }
            }
        }
    }
    .bottom{
        display: flex;
        align-items: center;
        gap: 7.88rem;

        @media (max-width: 500px) {
            flex-direction: column;
        }

        > img{
            width: 30.375rem;
            height: 37.5rem;

            @media (max-width: 500px) {
                width: 100%;
                height: auto;
            }
        }
        .left{
            display: flex;
            flex-direction: column;
            gap: 7rem;
            
            > img{
                width: 36.75rem;
                height: 20.3125rem;
                @media (max-width: 500px) {
                    width: 100%;
                    height: auto;
                }
            }
            .info{
                display: flex;
                gap: 3rem;

                .about__card{
                    &-title{
                        color: $orange;
                        font-size: 2.5rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 2.75rem;
                        margin-bottom: 0.75rem;
                        @media (max-width: 500px) {
                            font-size: 25px;
                            line-height: 27px;
                        }
                    }
                    &-info{
                        color: $black;
                        font-size: 1.25rem;
                        font-weight: 400;
                        line-height: 2rem;
                        @media (max-width: 500px) {
                            font-size: 15px;
                            line-height: 15px;
                        }
                    }
                }
            }
        }
    }
}
.certificates{
    h2{
        margin-bottom: 2.25rem;
    }
    &__list{
        display: flex;
        gap: 1.5rem;

        .certificate{
            border-radius: 1.5rem;
            border: 1px solid #D5D5D5;
            padding: 2.5rem;
            cursor: pointer;
            transition: .25s ease-in-out;
            transform: scale(1);
            background: white;

            @media (max-width: 500px) {
                padding: 10px;
            }
            &:hover{
                transform: scale(0.9);

                img{
                    transform: scale(1.3);
                }
            }
            
            img{
                transition: .25s;
                transform: scale(1);
                border-radius: 1rem;
                object-fit: cover;
            }
        }
    }
}
.working{
    h2{
        margin-bottom: 2.25rem;
    }
    &__list{
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;

        .working__stage{
            width: calc(33.333333% - 1rem);
            border-radius: 1.5rem;
            background: #F7F7F7;
            padding: 2.5rem;
            display: flex;
            gap: 1.5rem;
            opacity: 0;
            @media (max-width: 500px) {
                width: 100%;
            }

            .stage__number{
                color: $orange;
                font-size: 2.5rem;
                line-height: 2.75rem;
                font-weight: 700;
                @media (max-width: 500px) {
                    font-size: 25px;
                    line-height: 20px;
                }
            }
            .stage__title{
                color: $black;
                font-size: 1.125rem;
                line-height: 2rem;
                font-weight: 700;
                margin-bottom: 0.5rem;
                @media (max-width: 500px) {
                    font-size: 11px;
                    line-height: 20px;
                }
            }
            .stage__text{
                color: $black;
                opacity: 0.5;
                font-size: 1rem;
                line-height: 1.5rem;
                @media (max-width: 500px) {
                    font-size: 10px;
                    line-height: 15px;
                }
            }
        }
    }
    &__list.load{
        @for $i from 1 through 7{
            .working__stage:nth-child(#{$i}){
                animation: showCardAnim .5s calc(#{$i} / 5 * 1s) ease-in-out forwards;
            }
        }
    }
}
@keyframes showCardAnim {
    0%{
        opacity: 0;
        transform: scale(0.7);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.reviews{
    &__top{
        margin-bottom: 2.12rem;
        display: flex;
        justify-content: space-between;
        @media (max-width: 500px) {
            flex-direction: column;
            gap: 15px;
        }

        .reviews-service{
            display: flex;
            gap: 1rem;

            .service{
                border-radius: 0.5rem;
                border: 1px solid rgba(43, 43, 43, 0.20);
                display: flex;
                gap: 0.75rem;
                padding: 0.75rem;
                align-items: center;
                transition: .25s;

                &:hover{
                    transform: scale(1.1);
                }
                .rating{
                    padding: 0.25rem 0.5rem;
                    border-radius: 0.25rem;
                    border: 1px solid rgba(43, 43, 43, 0.20);

                    &__number{
                        color: $black;
                        font-size: 1.125rem;
                        font-weight: 400;
                        line-height: 1.75rem;
                        display: flex;
                        align-items: center;

                        &::after{
                            content: '';
                            background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2211%22%20viewBox%3D%220%200%2012%2011%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M5.90489%200.292705C5.93483%200.200574%206.06517%200.200574%206.09511%200.292705L7.32463%204.0768C7.33802%204.118%207.37642%204.1459%207.41974%204.1459H11.3986C11.4954%204.1459%2011.5357%204.26986%2011.4573%204.3268L8.23841%206.6655C8.20336%206.69096%208.18869%206.7361%208.20208%206.7773L9.43161%2010.5614C9.46154%2010.6535%209.35609%2010.7301%209.27772%2010.6732L6.05878%208.3345C6.02373%208.30904%205.97627%208.30904%205.94122%208.3345L2.72228%2010.6732C2.64391%2010.7301%202.53846%2010.6535%202.56839%2010.5614L3.79792%206.7773C3.81131%206.7361%203.79664%206.69096%203.76159%206.6655L0.542651%204.3268C0.46428%204.26986%200.504557%204.1459%200.601429%204.1459H4.58026C4.62358%204.1459%204.66198%204.118%204.67537%204.0768L5.90489%200.292705Z%22%20fill%3D%22%23FF8C00%22%2F%3E%0A%3C%2Fsvg%3E');
                            background-repeat: no-repeat;
                            display: block;
                            width: 0.75rem;
                            height: 0.75rem;
                        }
                    }
                }
                img{
                    width: 3.75rem;
                    height: 1.375rem;
                }
            }
        }
    }
    &__list{
        display: flex;
        justify-content: space-between;
        &:hover > img{
            opacity: 0.5;
        }
        @media (max-width: 500px) {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        img{
            transition: .25s;
            transform-origin: 50% 100%;
            cursor: pointer;
            border-radius: 1rem;
            width: 13.8125rem;
            height: 28.4375rem;

            &:hover{
                opacity: 1;
                transform: scale(1.05);
            }
        }
    }
}
.questions{
    .container{
        display: flex;
        gap: 10.44rem;

        @media (max-width: 500px) {
            flex-direction: column;
            gap: 20px
        }
        
        .left{
            width: calc(80%);
            h2{
                margin-bottom: 1.37rem;
            }
            p{
                color: #919191;
                font-size: 1.125rem;
                line-height: 1.75rem;
            }
        }
        .right{
            width: 100%;
        }
    }
}

.accordion__item {
    border-top: 1px solid #D5D5D5;

    .accordion__header {
        cursor: pointer;
        padding: 1.5rem 0.5rem 1.5rem 0rem;
        color: $black;
        font-family: 'Arial';
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 2rem;
        width: 90%;
        position: relative;
    
        &::after,
        &::before{
            content: '';
            width: 1.5rem;
            height: 2px;
            background: #D5D5D5;
            position: absolute;
            right: -9%;
            top: 50%;
            transition: .25s ease-in-out;
        }
        &::after{
            transform: translateY(-50%);
        }
        &::before{
            transform: translateY(-50%) rotate(90deg);
        }
    }
}
.accordion__item.accordion__item_slidedown .accordion__header,
.accordion__item.accordion__item_show .accordion__header {
    &::before{
        transform: translateY(-50%) rotate(360deg);
    }
}

.accordion__item:last-child{
    border-bottom: 1px solid #D5D5D5;
}

.accordion__content {
    padding: 0 1rem 0.75rem 1rem;
    background: #fff;
    color: $gray;
    font-family: 'Arial';
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
    display: none;
}

.map{
    position: relative;
    .container{

        padding: 0;
    }
    &__container{
        height: 50rem;
        @media (max-width: 500px) {
            height: 20rem;
        }
    }
    &__info{
        background: #FFFFFF;
        padding: 3.75rem;
        width: 36rem;
        border-radius: 1.5rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: 500px) {
            position: relative;
            top: 0;
            transform: translateY(0);
            width: 100%;
        }

        h2{
            margin-bottom: 1.92rem;
        }
    }
    .map__text{
        display: flex;
        flex-direction: column;
        gap: 1.75rem;

        p{
            color: $black;
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem;
        }
    }
}
.footer{
    background: $black;
    .container{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
    
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (max-width: 500px) {
                flex-direction: column;
            }
    
            nav ul{
                display: flex;
                gap: 2rem;
                @media (max-width: 500px) {
                    flex-direction: column;
                    align-items: center;
                    margin: 10px 0;
                }    
                li{
                    width: max-content;
                    a{
                        color: $white;
                        transition: .25s;
                        &:hover{
                            color: $orange;
                        }
                    }
                }
            }
            > a{
                white-space: nowrap;
                color: $white;
                font-weight: 700;
                font-size: 1.25rem;
                transition: .25s;
                &:hover{
                    color: $orange;
                }
            }
            .logo{
                width: 5.42619rem;
                @media (max-width: 500px) {
                    width: 86.819px;
                    height: 54px;
                }
                
                img{
                    max-width: unset;
                    width: 5.42619rem;
                    height: 3.375rem;
                    @media (max-width: 500px) {
                        width: 86.819px;
                        height: 54px;
                    }
                }
            }
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            gap: 24rem;
            @media (max-width: 500px) {
                flex-direction: column;
                gap: 10px;
                align-items: center;
            }
    

            .info{
                display: flex;
                gap: 9.94rem;
                @media (max-width: 500px) {
                    flex-direction: column;
                    gap: 10px;
                }
        

                .copyr,
                .politic{
                    color: $white;
                    opacity: 0.3;
                    transition: .25s;
                }
                .politic{
                    &:hover{
                        opacity: 1;      
                    }
                }
            }
            .white-btn{
                white-space: nowrap;
                width: 18.75rem;
            }
        }     
    }
}
.modal-form{
    position: fixed;
    width: 100vw;
    height: 100vh;

    display: flex;
    visibility: hidden;
    
    margin: 0 auto;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;

    background: #2b2b2b7b;

    &__container{
        width: 50rem;
        padding: 2.5rem;
        border-radius: 10px;
        background: $white;

        > p{
            font-size: 2.5rem;
            text-align: center;
            font-weight: 700;
            margin-bottom: 2.5rem;
        }
        .form{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            &__element{
                width: 100%;
                position: relative;

                label{
                    position: absolute;
                    font-size: 1.4rem;
                    left: 1rem;
                    top: 50%;
                    transition: .25s;
                    transform: translateY(-50%);
                    opacity: 0.5;
                    user-select: none;
                    cursor: text;
                }
                input,textarea{
                    border: 1px solid $gray;
                    border-radius: 20px;
                    padding: 1.5rem 1rem;
                    width: 100%;
                    font-size: 1.4rem;

                }
                input:focus + label,
                textarea:focus + label{
                    animation: formiInputAnim .25s ease-in-out forwards;
                }
                input.valid + label,
                textarea.valid + label{
                    animation: formiInputAnim .25s ease-in-out forwards;
                }
                textarea{
                    height: 10rem;

                    + label{
                        top: 1.5rem;
                        transform: translateY(0);
                    }
                }
                @keyframes formiInputAnim {
                    0%{
                        opacity: 1;
                    }
                    99%{
                        display: block;
                        opacity: 0;
                    }
                    100%{
                        display: none;
                        opacity: 0;
                    }
                }
            }
            .poly{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0.5rem;

                > input{
                    width: 1rem;
                }
            }
        }
    }
}
.open{
    animation: formAnim .25s ease-in-out forwards;
}
@keyframes formAnim {
    0%{
        visibility: hidden;
        opacity: 0;
    }
    1%{
        visibility: visible;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}