{% set title = "100% уничтожение вредителей за 1 звонок" %}
<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>КубаньДезГрупп - {{ title }}</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style.min.css">
</head>
<body>
	{% include "src/components/header.html" %}
	{% block content %}{% endblock %}
    {% include "src/components/footer.html" %}
	<script src="../js/script.min.js"></script>
</body>
</html>